# copy apks to / of the usb
# copy grsec* from isolinux to /apks as alpine32* or alpine64*
# depending on architecture


# you might want to add your filesystem module to modules= list , otherwise it might fail to open the partition. if you are
# using something else than fat filesystem

label alpine linux 32bit
	kernel /apks/alpine32
	append initrd=/apks/alpine32.gz alpine_dev=UUID=SOMEUUID modules=loop,cramfs,sd-mod,usb-storage,vfat,msdos waitusb=5
label alpine linux 64bit
	kernel /apks/alpine64
	append initrd=/apks/alpine64.gz alpine_dev=UUID=SOMEUUID modules=loop,cramfs,sd-mod,usb-storage,vfat,msdos waitusb=5

