# grml cfg 
# based on 2014.11 version


# copy /conf/bootid.txt to /conf
# copy /live/*/ to /grml
# copy /boot/addons to /grml/addons
# copy kernel and initrd from /boot/grml*/ to /grml

# to get grub running, you might have to copy more files
# not tested yet

label grml
  menu DEFAULT
  menu label grml64-small ^Standard (2014.11, amd64)
  kernel /grml/vmlinuz
  append initrd=/grml/initrd.img boot=live live-media-path=/grml/ bootid=grml64small201411 apm=power-off vga=791 nomce

label debug
  menu label grml64-small - ^Debug Mode
  kernel /grml/vmlinuz
  append initrd=/grml/initrd.img boot=live live-media-path=/grml/ bootid=grml64small201411 apm=power-off vga=791 verbose debug=vc initcall nomce 

  text help
                                        Boot Grml in debug mode, which
                                        activates debug shells during
                                        bootup sequence.
  endtext

label nofb
  menu label grml64-small - Dis^able Framebuffer
  kernel /grml/vmlinuz
  append initrd=/grml/initrd.img boot=live live-media-path=/grml/ bootid=grml64small201411 apm=power-off vga=normal radeon.modeset=0 i915.modeset=0 nouveau.modeset=0 cirrus.modeset=0 nomodeset nomce 

  text help
                                        Boot Grml without framebuffer.
  endtext

label nokms
  menu label grml64-small - Disable ^Kernel Mode-Setting
  kernel /grml/vmlinuz
  append initrd=/grml/initrd.img boot=live live-media-path=/grml/ bootid=grml64small201411 apm=power-off radeon.modeset=0 i915.modeset=0 nouveau.modeset=0 cirrus.modeset=0 nomodeset nomce vga=791 

  text help
                                        Boot Grml without KMS (Kernel
                                        Mode Setting).
  endtext

label ssh
  menu label grml64-small - Enable ^SSH (with random password)
  kernel /grml/vmlinuz
  append initrd=/grml/initrd.img boot=live live-media-path=/grml/ bootid=grml64small201411 apm=power-off vga=791 nomce ssh 

  text help
                                        Boot Grml and automatically start
                                        SSH Server. The password for user
                                        'grml' and 'root' will be set to
                                        a random password, unless you add
                                        an option to the ssh argument in
                                        the command line (for example:
                                        ssh=secret).
  endtext

label forensic
  menu label grml64-small - F^orensic Mode
  kernel /grml/vmlinuz
  append initrd=/grml/initrd.img boot=live live-media-path=/grml/ bootid=grml64small201411 apm=power-off nomce vga=791 nofstab noraid nodmraid nolvm noautoconfig noswap raid=noautodetect read-only 

  text help
                                        Boot Grml in forensic mode. This
                                        mode prevents touching any harddisks
                                        during hardware recognition and
                                        forces all blockdevices to read-only
                                        mode.
  endtext

label lang-de
  menu label grml64-small - ^German Settings
  kernel /grml/vmlinuz
  append initrd=/grml/initrd.img boot=live live-media-path=/grml/ bootid=grml64small201411 apm=power-off vga=791 nomce lang=de 

  text help
                                        Boot Grml with german settings.
  endtext

label grml64-smallx
  menu label grml64-small - Graphical ^Mode
  kernel /grml/vmlinuz
  append initrd=/grml/initrd.img boot=live live-media-path=/grml/ bootid=grml64small201411 apm=power-off vga=791 nomce startx 

  text help
                                        Boot Grml and automatically invoke
                                        grml-x to start X Window System.
  endtext

label grml2ram
  menu label grml64-small - Load to ^RAM
  kernel /grml/vmlinuz
  append initrd=/grml/initrd.img boot=live live-media-path=/grml/ bootid=grml64small201411 apm=power-off vga=791 nomce toram=grml64-small.squashfs 

  text help
                                        Load Grml into the memory (RAM).
                                        This allows you to remove the Grml
                                        media after Grml finished booting.

                                        Note: you should have enough RAM
                                        (>= size of ISO * 1.2) to be able
                                        to use this option.
  endtext

label persistence
  menu label grml64-small - ^Persistency mode
  kernel /grml/vmlinuz
  append initrd=/grml/initrd.img boot=live live-media-path=/grml/ bootid=grml64small201411 apm=power-off vga=791 nomce persistence 

  text help
                                        Boot Grml and enable persistency
                                        feature to store system and
                                        settings on an external device
                                        with label persistence or
                                        (deprecated) full-ov, custom-ov,
                                        live-rw or home-rw.
  endtext

label serial
  menu label grml64-small - Serial ^Console
  kernel /grml/vmlinuz
  append initrd=/grml/initrd.img boot=live live-media-path=/grml/ bootid=grml64small201411 apm=power-off vga=normal video=vesafb:off nomce console=tty1 console=ttyS0,9600n8 


  text help
                                        Activate ttyS0 and start a getty.
  endtext

label netboot
  menu label grml64-small ^Standard (2014.11, amd64) (netboot, edit this entry)
  kernel vmlinuz
  append initrd=initrd.img root=/dev/nfs rw nfsroot=192.168.0.1:/live/image boot=live live-media-path=/grml/ bootid=grml64small201411 apm=power-off nomce noprompt noeject vga=791


label grub2
  menu label Run Bootloader Grub^2
  kernel mboot.c32 /grml/grub.img

label allinone
  menu label Run ^All-in-One-Image
  kernel memdisk
  append initrd=/grml/addons/allinone.img

label dos
  menu label Run ^FreeDOS
  kernel memdisk
  append initrd=/grml/addons/balder10.imz

label hdt
  menu label Run Hardware Detection ^Tool
  kernel hdt.c32
  append pciids=/grml/addons/pci.ids


