
LABEL rescuecd_std
  MENU LABEL 1) SystemRescueCd: default boot options
  LINUX rescuecd
  INITRD initram.igz
  APPEND scandelay=1
  TEXT HELP
  Boot standard 32bit kernel with default options (should always work)
  You should use this entry if you don't know which one to use
  ENDTEXT

LABEL rescuecd_docache
  MENU LABEL 2) SystemRescueCd: all files cached to memory (docache)
  LINUX rescuecd
  INITRD initram.igz
  APPEND scandelay=1 docache
  TEXT HELP
  Boot standard 32bit kernel and run system from RAM (cdrom can be removed)
  It requires 512 MB of memory to work and takes some time during the
  boot process, but the cdrom can be removed and system will be faster.
  ENDTEXT

LABEL rescuecd_791
  MENU LABEL 3) SystemRescueCd: framebuffer console in high resolution
  LINUX rescuecd
  INITRD initram.igz
  APPEND scandelay=1 nomodeset vga=791
  TEXT HELP
  Boot standard 32bit kernel with console in high resolution
  KMS graphic drivers (Kernel-Mode-Settings) will be disabled.
  This mode is useful only if you want to work in console mode
  ENDTEXT

LABEL rescuecd_us
  MENU LABEL 4) SystemRescueCd: do not ask for keyboard, use US keymap
  LINUX rescuecd
  INITRD initram.igz
  APPEND scandelay=1 setkmap=us
  TEXT HELP
  Boot standard 32bit kernel and use the keymap for american keyboards
  This way it will not prompt for the keymap during the boot process
  ENDTEXT

LABEL rescuecd_xorg
  MENU LABEL 5) SystemRescueCd: directly start the graphical environment
  LINUX rescuecd
  INITRD initram.igz
  APPEND scandelay=1 dostartx
  TEXT HELP
  Boot standard 32bit kernel and start the XFCE graphical environment
  directly. You can also get in this environment by typing "startx" from
  the console.
  ENDTEXT

LABEL rescue64_std
  MENU LABEL 6) SystemRescueCd: 64bit kernel with default options
  LINUX rescue64
  INITRD initram.igz
  APPEND scandelay=1
  TEXT HELP
  Boot standard 64bit kernel with default options (should work on 64bit CPU)
  A 64bit kernel is required if you want to execute 64bit programs or to 
  chroot to an existing 64bit Linux OS on the disk. It requires a 64bit CPU. 
  ENDTEXT

MENU SEPARATOR

# ------------------------------------------------------------------------------

MENU BEGIN
MENU TITLE A) Standard 32bit kernel (rescuecd) with more choice...

LABEL rescuecd_1
  MENU LABEL 1. SystemRescueCd with default options
  LINUX rescuecd
  INITRD initram.igz
  APPEND scandelay=1
  TEXT HELP
  Boot standard 32bit kernel with default options (should always work)
  ENDTEXT

LABEL rescuecd_2
  MENU LABEL 2. SystemRescueCd with all files cached to memory
  LINUX rescuecd
  INITRD initram.igz
  APPEND scandelay=1 docache
  TEXT HELP
  Boot standard 32bit kernel and run system from memory.
  It requires 512 MB of memory to work and takes some time during the
  boot process, but the cdrom can be removed and system will be faster.
  ENDTEXT

LABEL rescuecd_3
  MENU LABEL 3. SystemRescueCd with console in high resolution (1024x768)
  LINUX rescuecd
  INITRD initram.igz
  APPEND scandelay=1 nomodeset vga=791
  TEXT HELP
  Boot standard 32bit kernel with framebuffer console in high resolution
  KMS graphic drivers (Kernel-Mode-Settings) will be disabled.
  ENDTEXT

LABEL rescuecd_4
  MENU LABEL 4. SystemRescueCd with the default graphical environment
  LINUX rescuecd
  INITRD initram.igz
  APPEND scandelay=1 dostartx
  TEXT HELP
  Boot standard 32bit kernel and start the XFCE graphical environment
  directly. You can also get in this environment by typing "startx" from
  the console.
  ENDTEXT

LABEL rescuecd_5
  MENU LABEL 5. SystemRescueCd with VESA based graphical environment
  LINUX rescuecd
  INITRD initram.igz
  APPEND scandelay=1 nomodeset vga=791 dostartx forcevesa
  TEXT HELP
  Boot standard 32bit kernel and use VESA based graphical environment
  Try this if you have problems to get the default graphical environment
  ENDTEXT

LABEL rescuecd_6
  MENU LABEL 6. SystemRescueCd with a standard VGA console (no KMS)
  LINUX rescuecd
  INITRD initram.igz
  APPEND scandelay=1 nomodeset
  TEXT HELP
  Boot standard 32bit kernel and use standard low-resolution VGA console
  KMS graphic drivers (Kernel-Mode-Settings) will be disabled.
  Try this if you can't get a working console or new a low-resolution mode
  ENDTEXT

LABEL rescuecd_7
  MENU LABEL 7. SystemRescueCd with a console in 800x600
  LINUX rescuecd
  INITRD initram.igz
  APPEND scandelay=1 video=800x600
  TEXT HELP
  Boot standard 32bit kernel and use the default graphic driver in 800x600
  KMS graphic drivers (Kernel-Mode-Settings) will be used if appropriate.
  Use that to get a 800x600 resolution and have a KMS compatible card.
  ENDTEXT

MENU SEPARATOR

LABEL return
  MENU LABEL Return to main menu
  MENU EXIT

MENU END

# ------------------------------------------------------------------------------

MENU BEGIN
MENU TITLE B) Standard 64bit kernel (rescue64) with more choice...

LABEL rescue64_1
  MENU LABEL 1. SystemRescueCd with default options
  LINUX rescue64
  INITRD initram.igz
  APPEND scandelay=1
  TEXT HELP
  Boot standard 64bit kernel with default options (should always work)
  ENDTEXT

LABEL rescue64_2
  MENU LABEL 2. SystemRescueCd with all files cached to memory
  LINUX rescue64
  INITRD initram.igz
  APPEND scandelay=1 docache
  TEXT HELP
  Boot standard 64bit kernel and run system from RAM (cdrom can be removed)
  It requires 512 MB of memory to work and takes some time during the
  boot process, but the cdrom can be removed and system will be faster.
  ENDTEXT

LABEL rescue64_3
  MENU LABEL 3. SystemRescueCd with console in high resolution (1024x768)
  LINUX rescue64
  INITRD initram.igz
  APPEND scandelay=1 nomodeset vga=791
  TEXT HELP
  Boot standard 64bit kernel with framebuffer console in high resolution
  KMS graphic drivers (Kernel-Mode-Settings) will be disabled.
  ENDTEXT

LABEL rescue64_4
  MENU LABEL 4. SystemRescueCd with the default graphical environment
  LINUX rescue64
  INITRD initram.igz
  APPEND scandelay=1 dostartx
  TEXT HELP
  Boot standard 64bit kernel and start the XFCE graphical environment
  directly. You can also get in this environment by typing "startx" from
  the console.
  ENDTEXT

LABEL rescue64_5
  MENU LABEL 5. SystemRescueCd with VESA based graphical environment
  LINUX rescue64
  INITRD initram.igz
  APPEND scandelay=1 nomodeset vga=791 dostartx forcevesa
  TEXT HELP
  Boot standard 64bit kernel and use VESA based graphical environment
  Try this if you have problems to get the default graphical environment
  ENDTEXT

LABEL rescue64_6
  MENU LABEL 6. SystemRescueCd with a standard VGA console (no KMS)
  LINUX rescue64
  INITRD initram.igz
  APPEND scandelay=1 nomodeset
  TEXT HELP
  Boot standard 64bit kernel and use standard low-resolution VGA console
  KMS graphic drivers (Kernel-Mode-Settings) will be disabled.
  Try this if you can't get a working console or new a low-resolution mode
  ENDTEXT

LABEL rescue64_7
  MENU LABEL 7. SystemRescueCd with a console in 800x600
  LINUX rescue64
  INITRD initram.igz
  APPEND scandelay=1 video=800x600
  TEXT HELP
  Boot standard 64bit kernel and use the default graphic driver in 800x600
  KMS graphic drivers (Kernel-Mode-Settings) will be used if appropriate.
  Use that to get a 800x600 resolution and have a KMS compatible card.
  ENDTEXT

MENU SEPARATOR

LABEL return
  MENU LABEL Return to main menu
  MENU EXIT

MENU END

# ------------------------------------------------------------------------------

MENU BEGIN
MENU TITLE C) Alternative 32bit kernel (altker32) with more choice...

LABEL altker32_1
  MENU LABEL 1. SystemRescueCd with default options
  LINUX altker32
  INITRD initram.igz
  APPEND scandelay=1
  TEXT HELP
  Boot alternative 32bit kernel with default options (should always work)
  ENDTEXT

LABEL altker32_2
  MENU LABEL 2. SystemRescueCd with all files cached to memory
  LINUX altker32
  INITRD initram.igz
  APPEND scandelay=1 docache
  TEXT HELP
  Boot alternative 32bit kernel and run system from memory.
  It requires 512 MB of memory to work and takes some time during the
  boot process, but the cdrom can be removed and system will be faster.
  ENDTEXT

LABEL altker32_3
  MENU LABEL 3. SystemRescueCd with console in high resolution (1024x768)
  LINUX altker32
  INITRD initram.igz
  APPEND scandelay=1 nomodeset vga=791
  TEXT HELP
  Boot alternative 32bit kernel with framebuffer console in high resolution
  KMS graphic drivers (Kernel-Mode-Settings) will be disabled.
  ENDTEXT

LABEL altker32_4
  MENU LABEL 4. SystemRescueCd with the default graphical environment
  LINUX altker32
  INITRD initram.igz
  APPEND scandelay=1 dostartx
  TEXT HELP
  Boot alternative 32bit kernel and start the XFCE graphical environment
  directly. You can also get in this environment by typing "startx" from
  the console.
  ENDTEXT

LABEL altker32_5
  MENU LABEL 5. SystemRescueCd with VESA based graphical environment
  LINUX altker32
  INITRD initram.igz
  APPEND scandelay=1 nomodeset vga=791 dostartx forcevesa
  TEXT HELP
  Boot alternative 32bit kernel and use VESA based graphical environment
  Try this if you have problems to get the default graphical environment
  ENDTEXT

LABEL altker32_6
  MENU LABEL 6. SystemRescueCd with a standard VGA console (no KMS)
  LINUX altker32
  INITRD initram.igz
  APPEND scandelay=1 nomodeset
  TEXT HELP
  Boot alternative 32bit kernel and use standard low-resolution VGA 
  console. KMS graphic drivers (Kernel-Mode-Settings) will be disabled.
  Try this if you can't get a working console or new a low-resolution mode
  ENDTEXT

LABEL altker32_7
  MENU LABEL 7. SystemRescueCd with a console in 800x600
  LINUX altker32
  INITRD initram.igz
  APPEND scandelay=1 video=800x600
  TEXT HELP
  Boot alternative 32bit kernel and use standard graphic driver in 800x600
  KMS graphic drivers (Kernel-Mode-Settings) will be used if appropriate.
  Use that to get a 800x600 resolution and have a KMS compatible card.
  ENDTEXT

MENU SEPARATOR

LABEL return
  MENU LABEL Return to main menu
  MENU EXIT

MENU END

# ------------------------------------------------------------------------------

MENU BEGIN
MENU TITLE D) Alternative 64bit kernel (altker64) with more choice...

LABEL altker64_1
  MENU LABEL 1. SystemRescueCd with default options
  LINUX altker64
  INITRD initram.igz
  APPEND scandelay=1
  TEXT HELP
  Boot alternative 64bit kernel with default options (should always work)
  ENDTEXT

LABEL altker64_2
  MENU LABEL 2. SystemRescueCd with all files cached to memory
  LINUX altker64
  INITRD initram.igz
  APPEND scandelay=1 docache
  TEXT HELP
  Boot alternative 64bit kernel and run system from memory.
  It requires 512 MB of memory to work and takes some time during the
  boot process, but the cdrom can be removed and system will be faster.
  ENDTEXT

LABEL altker64_3
  MENU LABEL 3. SystemRescueCd with console in high resolution (1024x768)
  LINUX altker64
  INITRD initram.igz
  APPEND scandelay=1 nomodeset vga=791
  TEXT HELP
  Boot alternative 64bit kernel with framebuffer console in high resolution
  KMS graphic drivers (Kernel-Mode-Settings) will be disabled.
  ENDTEXT

LABEL altker64_4
  MENU LABEL 4. SystemRescueCd with the default graphical environment
  LINUX altker64
  INITRD initram.igz
  APPEND scandelay=1 dostartx
  TEXT HELP
  Boot alternative 64bit kernel and start the XFCE graphical environment
  directly. You can also get in this environment by typing "startx" from
  the console.
  ENDTEXT

LABEL altker64_5
  MENU LABEL 5. SystemRescueCd with VESA based graphical environment
  LINUX altker64
  INITRD initram.igz
  APPEND scandelay=1 nomodeset vga=791 dostartx forcevesa
  TEXT HELP
  Boot alternative 64bit kernel and use VESA based graphical environment
  Try this if you have problems to get the default graphical environment
  ENDTEXT

LABEL altker64_6
  MENU LABEL 6. SystemRescueCd with a standard VGA console (no KMS)
  LINUX altker64
  INITRD initram.igz
  APPEND scandelay=1 nomodeset
  TEXT HELP
  Boot alternative 64bit kernel and use standard low-resolution VGA 
  console. KMS graphic drivers (Kernel-Mode-Settings) will be disabled.
  Try this if you can't get a working console or new a low-resolution mode
  ENDTEXT

LABEL altker64_7
  MENU LABEL 7. SystemRescueCd with a console in 800x600
  LINUX altker64
  INITRD initram.igz
  APPEND scandelay=1 video=800x600
  TEXT HELP
  Boot alternative 64bit kernel and use standard graphic driver in 800x600
  KMS graphic drivers (Kernel-Mode-Settings) will be used if appropriate.
  Use that to get a 800x600 resolution and have a KMS compatible card.
  ENDTEXT

MENU SEPARATOR

LABEL return
  MENU LABEL Return to main menu
  MENU EXIT

MENU END

# ------------------------------------------------------------------------------

MENU BEGIN
MENU TITLE E) Boot an exising Linux OS installed on the disk...

LABEL linuxosdisk32
  MENU LABEL Boot an exising 32bit Linux OS installed on the disk
  LINUX rescuecd
  INITRD initram.igz
  APPEND scandelay=1 root=auto
  TEXT HELP
  Detect partition where linux is installed and boot from it. You can use 
  this to boot Linux if your boot loader (eg: Grub) is broken or has been
  removed by another OS. This will work if the Linux OS is 32bit.
  ENDTEXT

LABEL linuxosdisk64
  MENU LABEL Boot a 32bit or 64bit Linux OS installed on the disk
  LINUX rescue64
  INITRD initram.igz
  APPEND scandelay=1 root=auto
  TEXT HELP
  Detect partition where linux is installed and boot from it. You can use 
  this to boot Linux if your boot loader (eg: Grub) is broken or has been
  removed by another OS. This will work with both 32bit and 64bit Linux OS.
  ENDTEXT

MENU SEPARATOR

LABEL return
  MENU LABEL Return to main menu
  MENU EXIT

MENU END

# ------------------------------------------------------------------------------

MENU BEGIN
MENU TITLE F) Run system tools from floppy disk image...

LABEL memtest
  MENU LABEL MEMTEST: Memory test using Memtest86+
  kernel /bootdisk/memtestp
  append -
  TEXT HELP
  Use this tool if you suspect your RAM from being damaged. Damaged memory can
  explain crashes or unexpected bahaviors on stable operating systems.
  ENDTEXT

LABEL ntpass
  MENU LABEL NTPASSWD: Reset or edit Windows passwords
  kernel /ntpasswd/vmlinuz
  append rw vga=1 initrd=/ntpasswd/initrd.cgz,/ntpasswd/scsi.cgz
  TEXT HELP
  This tool can be used to reset windows users accounts. It works will all 
  windows user accounts including the administrator. You can use this tool if
  you forgot the administrator's password.
  ENDTEXT

LABEL freedos
  MENU LABEL FREEDOS: Clone of the MSDOS Operating System
  kernel memdisk
  append initrd=/bootdisk/freedos.img floppy
  TEXT HELP
  FreeDOS can be used to execute DOS programs such as BIOS upgrade tools
  ENDTEXT

LABEL netboot
  MENU LABEL NETBOOT: Boot from the network
  kernel netboot
  append -

LABEL hdt
  MENU LABEL HDT: recent hardware diagnostics tool
  kernel memdisk
  append initrd=/bootdisk/hdt.img floppy
  TEXT HELP
  This diagnostic tool will give you information about your hardware
  ENDTEXT

LABEL ranish
  MENU LABEL RANISH: Partition Manager tool
  kernel memdisk
  append initrd=/bootdisk/ranish.img floppy

LABEL aida
  MENU LABEL AIDA: old hardware diagnostics tool
  kernel memdisk
  append initrd=/bootdisk/aida.img floppy

LABEL gag
  MENU LABEL GAG: Graphical Boot Manager
  kernel memdisk
  append initrd=/bootdisk/gag.img floppy

LABEL dban
  MENU LABEL DBAN: erase all data from the disk
  kernel memdisk
  append initrd=/bootdisk/dban.img floppy

LABEL mhdd
  MENU LABEL MHDD: Low-level Hard Drive diagnostic tool
  kernel memdisk
  append initrd=/bootdisk/mhdd.img floppy

LABEL grubdisk
  MENU LABEL SGD: Super Grub Disk
  kernel memdisk
  append initrd=/bootdisk/grubdisk.img floppy

MENU SEPARATOR

LABEL return
  MENU LABEL Return to main menu
  MENU EXIT

MENU END

# ------------------------------------------------------------------------------

MENU SEPARATOR

LABEL local1
  MENU LABEL *) Boot from first hard disk
  kernel chain.c32
  append hd0
  TEXT HELP
  Boot local OS installed on first hard disk
  ENDTEXT

LABEL local2
  MENU LABEL *) Boot from second hard disk
  kernel chain.c32
  append hd1
  TEXT HELP
  Boot local OS installed on second hard disk
  ENDTEXT

LABEL rescuecd
  MENU HIDE
  LINUX rescuecd
  INITRD initram.igz

LABEL rescue64
  MENU HIDE
  LINUX rescue64
  INITRD initram.igz

LABEL altker32
  MENU HIDE
  LINUX altker32
  INITRD initram.igz

LABEL altker64
  MENU HIDE
  LINUX altker64
  INITRD initram.igz

LABEL uk32
  MENU HIDE
  LINUX rescuecd
  INITRD initram.igz
  APPEND scandelay=1 setkmap=uk

LABEL uk64
  MENU HIDE
  LINUX rescue64
  INITRD initram.igz
  APPEND scandelay=1 setkmap=uk

LABEL fd32
  MENU HIDE
  LINUX rescuecd
  INITRD initram.igz
  APPEND scandelay=1 setkmap=uk vga=791 docache dostartx

LABEL fd64
  MENU HIDE
  LINUX rescue64
  INITRD initram.igz
  APPEND scandelay=1 setkmap=uk vga=791 docache dostartx

LABEL azerty
  MENU HIDE
  KERNEL kbdmap.c32
  APPEND maps/azerty.ktl
LABEL be
  MENU HIDE
  KERNEL kbdmap.c32
  APPEND maps/be.ktl
LABEL bg
  MENU HIDE
  KERNEL kbdmap.c32
  APPEND maps/bg.ktl
LABEL by
  MENU HIDE
  KERNEL kbdmap.c32
  APPEND maps/by.ktl
LABEL cf
  MENU HIDE
  KERNEL kbdmap.c32
  APPEND maps/cf.ktl
LABEL croat
  MENU HIDE
  KERNEL kbdmap.c32
  APPEND maps/croat.ktl
LABEL cz
  MENU HIDE
  KERNEL kbdmap.c32
  APPEND maps/cz.ktl
LABEL de
  MENU HIDE
  KERNEL kbdmap.c32
  APPEND maps/de.ktl
LABEL dk
  MENU HIDE
  KERNEL kbdmap.c32
  APPEND maps/dk.ktl
LABEL dvorak
  MENU HIDE
  KERNEL kbdmap.c32
  APPEND maps/dvorak.ktl
LABEL es
  MENU HIDE
  KERNEL kbdmap.c32
  APPEND maps/es.ktl
LABEL et
  MENU HIDE
  KERNEL kbdmap.c32
  APPEND maps/et.ktl
LABEL fi
  MENU HIDE
  KERNEL kbdmap.c32
  APPEND maps/fi.ktl
LABEL fr_CH
  MENU HIDE
  KERNEL kbdmap.c32
  APPEND maps/fr_CH.ktl
LABEL fr
  MENU HIDE
  KERNEL kbdmap.c32
  APPEND maps/fr.ktl
LABEL gr
  MENU HIDE
  KERNEL kbdmap.c32
  APPEND maps/gr.ktl
LABEL hu
  MENU HIDE
  KERNEL kbdmap.c32
  APPEND maps/hu.ktl
LABEL il
  MENU HIDE
  KERNEL kbdmap.c32
  APPEND maps/il.ktl
LABEL it
  MENU HIDE
  KERNEL kbdmap.c32
  APPEND maps/it.ktl
LABEL lt
  MENU HIDE
  KERNEL kbdmap.c32
  APPEND maps/lt.ktl
LABEL mk
  MENU HIDE
  KERNEL kbdmap.c32
  APPEND maps/mk.ktl
LABEL nl
  MENU HIDE
  KERNEL kbdmap.c32
  APPEND maps/nl.ktl
LABEL no
  MENU HIDE
  KERNEL kbdmap.c32
  APPEND maps/no.ktl
LABEL pl
  MENU HIDE
  KERNEL kbdmap.c32
  APPEND maps/pl.ktl
LABEL ru
  MENU HIDE
  KERNEL kbdmap.c32
  APPEND maps/ru.ktl
LABEL sg
  MENU HIDE
  KERNEL kbdmap.c32
  APPEND maps/sg.ktl
LABEL slovene
  MENU HIDE
  KERNEL kbdmap.c32
  APPEND maps/slovene.ktl
LABEL trf
  MENU HIDE
  KERNEL kbdmap.c32
  APPEND maps/trf.ktl
LABEL trq
  MENU HIDE
  KERNEL kbdmap.c32
  APPEND maps/trq.ktl
LABEL ua
  MENU HIDE
  KERNEL kbdmap.c32
  APPEND maps/ua.ktl
LABEL uk
  MENU HIDE
  KERNEL kbdmap.c32
  APPEND maps/uk.ktl
LABEL us
  MENU HIDE
  KERNEL kbdmap.c32
  APPEND maps/us.ktl
LABEL wangbe
  MENU HIDE
  KERNEL kbdmap.c32
  APPEND maps/wangbe.ktl
